.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 100px 0 100px;

  @media (max-width: 765px) {
    padding: 20px 40px 0 40px;
  }

  img {
    width: 210px;
    height: 68px;

    @media (max-width: 765px) {
      width: 145px;
      height: 47px;
    }
  }

  .navbar {
    display: flex;
    gap: 57px;
    font-size: 24px;
    margin: 0;
    padding-inline-start: 0;

    @media (max-width: 765px) {
      font-size: 12px;
      gap: 20px;
    }
  }

  & .active {
    text-decoration: underline;
    text-decoration-thickness: 0.8px;
    text-underline-offset: 3px;
  }
}
