@mixin collapse-small {
  @include respond-to("sm") {
    width: 100%;
    .collapse-title {
      height: 30px;
      padding: 10px 6px 10px 10px;

      h2 {
        font-size: $font-md-m;
      }
    }
  }
}

.collapse {
  display: flex;
  flex-direction: column;

  &.large {
    width: 100%;

    .collapse-title {
      padding: 10px 15px;

      h2 {
        font-size: $font-lg;
      }
    }
    @include collapse-small;
  }

  &.medium {
    width: 50%;
    .collapse-title {
      border-radius: 10px;
      padding: 10px 20px 10px 10px;
    }
    @include collapse-small;
  }

  .collapse-title {
    height: 52px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $primary-color;
    border-radius: 5px;

    .collapse-button {
      background: inherit;
      border: none;
      padding: 0;

      img {
        transition: transform 300ms ease-out;
        @media (max-width: 768px) {
          width: 16px;
          height: auto;
        }
      }

      &.closing img {
        transform: rotate(180deg);
      }
    }
  }

  .collapse-content {
    background: $light-gray;
    padding: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
