@mixin collapse-small {
  @include respond-to("sm") {
    width: 100%;
    .collapse-title {
      height: 30px;
      padding: 10px 8px 10px 10px;

      h2 {
        font-size: $font-md-m;
      }
    }
  }
}

.collapse {
  @include flex-column;

  &.large {
    width: 100%;

    .collapse-title {
      padding: 10px 15px;

      h2 {
        font-size: $font-lg;
      }
    }
    @include collapse-small;
  }

  &.medium {
    width: 50%;
    .collapse-title {
      padding: 10px 20px 10px 10px;
    }
    @include collapse-small;
  }

  .collapse-title {
    @include flex-center;
    height: 52px;
    box-sizing: border-box;
    justify-content: space-between;
    background: $primary-color;
    border-radius: 5px;

    .collapse-button {
      .collapse-arrow {
        transition: transform 300ms ease-out;
        @include size-responsive(32px, 16px);
      }

      &.closing .collapse-arrow {
        transform: rotate(-180deg);
      }
    }
  }

  .collapse-content {
    background: $light-gray;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 300ms ease-out, opacity 200ms ease-out;

    &.open {
      transform: scaleY(1);
      opacity: 1;
      max-height: fit-content;
      padding: 20px;
    }
  }
}
