.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .fetch-error {
    font-size: $font-md;
    font-style: italic;
    color: $primary-color;
  }
}
