.host-container {
  .fs-text-sm {
    color: $primary-color;
    font-weight: $font-base;
  }

  @include flex-center(10px);

  @include respond-to("xs") {
    grid-template-columns: 1fr;
    grid-template-areas:
      "left"
      "right"
      "bottom";
  }
}
