.host-container {
  display: flex;
  align-items: center;
  gap: 10px;
  @media (max-width: 450px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "left"
      "right"
      "bottom";
  }

  .fs-text-sm {
    color: $primary-color;
    font-weight: $font-base;
  }
}
