.tag {
  min-width: 115px;
  border-radius: 10px;
  padding: 3px 15px;

  background: $primary-color;
  color: $white;
  text-align: center;

  @include font-responsive($font-sm, $font-xs-m, $font-bold);

  @include respond-to("sm") {
    min-width: 0;
    padding: 3px 8px;
  }
}
