.tag {
  min-width: 115px;
  border-radius: 10px;
  padding: 3px 15px;

  background: $primary-color;
  color: $white;
  font-size: 14px;
  line-height: $line-h;
  font-weight: $bold;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 10px;
    min-width: 0;
    padding: 3px 8px;
  }
}
