.error-container {
  @include flex-column(110px, 100px);
  height: 60vh;
  justify-content: center;
  align-items: center;

  .error-title {
    color: $primary-color;
    margin-block: 0;
    margin: -50px 0;

    @include font-responsive(288px, 96px, $font-bold);
  }

  .error-message {
    color: $primary-color;
    text-align: center;

    @include font-responsive($font-xl, $font-xl-m);
  }

  .error-redirection {
    text-decoration: underline;
  }
}
