.error-container {
  min-height: 60vh;
  justify-content: space-evenly;
  align-items: center;
  @include flex-column(50px, 0);

  .error-title {
    color: $primary-color;
    margin-block: 0;
    margin: -50px 0;

    @include font-responsive(230px, 96px, $font-bold);
  }

  .error-message {
    color: $primary-color;
    text-align: center;

    @include font-responsive($font-xl, $font-xl-m);
  }

  .error-redirection {
    text-decoration: underline;
  }
}
