.lodging-container {
  @include flex-column(30px, 15px);

  .lodging-info {
    display: grid;
    grid-template-columns: 8fr 2fr;

    grid-template-areas:
      "left right"
      "bottom bottom";

    @include respond-to("md") {
      grid-template-columns: 1fr;
      grid-template-areas:
        "left"
        "right"
        "bottom";
    }
  }

  .info-left {
    grid-area: left;

    .title {
      color: $primary-color;
      @include respond-to("sm") {
        margin-bottom: 10px;
      }
    }

    .info-tags {
      padding: 0;
      flex-wrap: wrap;
      @include flex-center(10px);
      @include margin-responsive($spacing-sm 0, $spacing-sm 0, $spacing-xs 0);
    }
  }
  .info-right {
    grid-area: right;
    @include flex-column;
    align-items: flex-end;
    justify-content: space-between;
    text-align: right;
    @include margin-responsive(
      0 0 $spacing-sm 0,
      0 0 $spacing-sm 0,
      0 0 $spacing-xs 0
    );

    @include respond-to("md") {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }
  }
  .info-bottom {
    grid-area: bottom;
    display: flex;
    gap: 5.28vh;

    @include respond-to("sm") {
      flex-direction: column;
      gap: $spacing-sm;
    }
  }
}
