.lodging-container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .lodging-info {
    display: grid;
    grid-template-columns: 8fr 2fr;

    grid-template-areas:
      "left right"
      "bottom bottom";

    @media (max-width: 855px) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "left"
        "right"
        "bottom";
    }
  }

  .info-left {
    grid-area: left;

    .title {
      color: $primary-color;
      @include respond-to("sm") {
        margin-bottom: 10px;
      }
    }

    .info-tags {
      display: flex;
      gap: 10px;
      padding: 0;
      margin: 20px 0;
      @include respond-to("sm") {
        margin: 10px 0;
      }
    }
  }
  .info-right {
    grid-area: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    text-align: right;
    margin-bottom: 20px;

    @include respond-to("md") {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }
    @include respond-to("sm") {
      margin-bottom: 10px;
    }
  }
  .info-bottom {
    grid-area: bottom;
    display: flex;
    gap: 5.28vw;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
    }
  }
}
