@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

.app {
  min-width: 320px;
  min-height: 100vh;

  @include flex-column;
}

main {
  flex: 1;

  @include margin-responsive(
    $spacing-lg $spacing-xxl,
    35px $spacing-xl,
    27px $spacing-sm
  );
}

h1 {
  margin: 0;
  @include font-responsive($font-xl, $font-xl-m, $font-base);
}

h2 {
  font-size: $font-md;
  font-weight: $font-bold;
  margin: 0;
  color: $white;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: inherit;
  color: $black;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.fs-layout-content {
  @include font-responsive($font-lg, $font-sm-m);
}

.fs-text-sm {
  @include font-responsive($font-md, $font-sm-m, $font-light);
}

.fs-text-md {
  @include font-responsive($font-md, $font-lg-m);
}
