@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-width: 320px;
  min-height: 100vh;

  @include respond-to("sm") {
    gap: 27px;
  }
}

h1 {
  margin: 0;
  @include font-responsive($font-xl, $font-xl-m, $font-base);
}

h2 {
  font-size: $font-md;
  font-weight: $font-bold;
  margin: 0;
  color: $white;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: inherit;
  color: $black;
}

main {
  margin: 0 100px;
  flex: 1;

  @include respond-to("lg") {
    margin: 0 70px;
  }
  @include respond-to("sm") {
    margin: 0 40px;
  }
}

.fs-layout-content {
  @include font-responsive($font-lg, $font-sm-m);
}

.fs-text-sm {
  @include font-responsive($font-md, $font-sm-m, $font-light);
}

.fs-text-md {
  @include font-responsive($font-md, $font-lg-m);
}
