@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

a {
  text-decoration: inherit;
  color: $black;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-width: 320px;
  min-height: 100vh;

  @media (max-width: 765px) {
    gap: 27px;
  }
}

h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: $line-h;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: $bold;
  margin: 0;
}

p,
span {
  font-size: 18px;
  line-height: $line-h;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  line-height: $line-h;
}

main {
  margin: 0 100px;
  flex: 1;

  @media (max-width: 1024px) {
    margin: 0 70px;
  }
  @media (max-width: 765px) {
    margin: 0 40px;
  }
}
